<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Arbeitsgruppe "Sie bleiben hier!</h1>
  <p class="lead text-muted">
    <%= link_to "Zum offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Wir sind eine spontan zusammengewürfelte Gruppe, die sich für die Familie Mikayelyan-Safarya einsetzen will. Und für andere Personen in ähnlichen Situationen.
      Verantwortlich für den Inhalt dieser Seite ist Philipp Blum (<%= mail_to "philipp.blum@philosophie.ch", "philipp.blum@philosophie.ch"  %>).

    </p>
    <p>
            Schreiben Sie ihm eine Email, wenn Sie mithelfen wollen oder sonst einen Kommentar haben.
    </p>
  </div>
</div>

</main>
<hr />
