<main role="main" class="bg-yellow">

<%= render "layouts/lead", title: 'Arbeitsgruppe "Sie bleiben hier!"', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Wir sind eine spontan zusammengewürfelte Gruppe, die sich für die Familie Mikayelyan-Safarya einsetzen will. Und für andere Personen in ähnlichen Situationen.
      Verantwortlich für den Inhalt dieser Seite ist <%= link_to "Philipp Blum", "https://philipp.philosophie.ch"  %>.

    </p>
    <p>
        Schreiben Sie ihm eine Email, wenn Sie mithelfen wollen oder sonst einen Kommentar haben.
    </p>
  </div>
</div>

</main>
<hr />
