<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Eine Bieler Familie</h1>
  <p class="lead text-muted">
    Die Familie Mikayelyan-Safaryan
  </p>
  <p class="lead text-muted">
    <%= link_to "Zum Offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">
    <p style="margin-bottom: 0in">Die Familie Mikayelyan-Safaryan wohnt
    seit acht Jahren in der Schweiz. Ihr ältester Sohn, Robert, ist hier
    geboren und besucht in Biel die erste Klasse. Das ältere Mädchen,
    Charlotta, besucht den Kindergarten, das jüngere, Inessa, verbringt
    die Tage mit den Eltern. Die Kinder sind hier aufgewachsen, sprechen
    Deutsch und sogar ein bisschen Französisch, wie das in Biel halt
    üblich ist. Die Mutter engagiert sich im Elternrat, der Vater spielt
    mit den Kindern der Schule Schach. Robert fährt Fahrrad, Charlotta
    schminkt sich als Prinzessin, die kleine Inessa mag „Mascha und der
    Bär“ - eine ganz normale Familie, die aber leider keine
    Aufenthaltsbewilligung hat.
    </p>
    <p><br/>

    </p>
    <p>Deshalb dürfen die
    Eltern nicht arbeiten, deshalb können sie kein Bibliotheksabonnement
    lösen und dürfen keine Schlitten mieten. Schlimmer noch: die
    Familie muss täglich damit rechnen, ausgeschafft zu werden, in ihre
    „Herkunftsländer“. Für den Vater ist das Kasachstan, aber dort
    darf seine Frau nicht leben. Für die Mutter ist das Armenien, aber
    dort darf der Vater nicht leben. Die Behörden haben deshalb die
    Absicht, den Vater und die zwei älteren Kinder nach Kasachstan, die
    Mutter mit Inessa nach Armenien auszuschaffen. Oder den Vater mit
    allen drei Kindern nach Kasachstan und die Mutter allein nach
    Armenien. So würde nicht nur das Bieler Leben der Familie
    zunichtegemacht, sondern die Familie auseinandergerissen.
    </p>
    <p><br/>

    </p>
    <p>Einige Menschen haben
    der Familie geholfen, bei den Behörden ein sogenanntes
    „Härtefallgesuch“ einzureichen. Das wurde aber leider abgelehnt,
    weil ihre „Lebens- und Daseinsbedingungen [...], gemessen am
    durchschnittlichen Schicksal von anderen ausländischen Personen“
    durch die Ausschaffung und die Trennung der Eheleute und der Kinder
    nicht „in gesteigertem Masse in Frage gestellt“ seien. Diesen
    anderen ausländischen Personen muss es wirklich sehr schlecht gehen!
    </p>
    <p><br/>

    </p>
    <p>Kurz vor Weihnachten
    haben sich Roberts Lehrerinnen an die Behörden gewandt und
    festgestellt, dass es für sie schwierig ist, eine Klasse zu
    unterrichten, die jederzeit damit rechnen muss, dass uniformierte
    Polizisten eines der Kinder abholen, aufs Flugzeug bringen und an
    einen fremden Ort verfrachten, von woher er nie mehr zurückkehren
    kann. Wie sollen sie das den anderen Kindern erklären, wie sollen
    sie Freundschaften, Beziehungen, Spielnachmittage unterstützen, wenn
    sich eines ihrer Kinder in einer derart akuten Gefahr befindet? Die
    Behörden haben geantwortet, dass man da leider nichts machen kann.
    </p>
    <p><br/>

    </p>
    <p>Wir meinen, dass man da
    schon etwas machen kann. Die Familie soll hier in Biel und in ihrer
    Wohnung bleiben, die Kinder sollen in die Schule gehen und die Eltern
    sollen arbeiten dürfen. Die Familie Mikalyelyan-Safaryan gehört zu
    uns, ihre Kinder sind hier geboren und aufgewachsen. Wir wollen, dass
    die Familie hier in Biel endlich ein würdevolles Leben führen kann.</p>
    <p lang="en"><br/>

    </p>
    <p>Wenn Sie auch dieser
    Meinung sind</p>
    <ul>
    	<ul>
    		<li/>
    <p lang="en">
      <%= link_to "unterschreiben Sie den offenen Brief", open_letter_path %>
    </p>
    		<li/>
    <p><%= link_to "bekunden Sie
      Ihre Solidarität auf der Pinnwand", open_letter_path %>
      </p>
    		<li/>
    <p>schreiben Sie
    		dem Gesamt-Gemeinderat der Stadt Biel Ihren eigenen Brief</p>
    		<li/>
    <p lang="en">spenden
    		Sie für die Familie</p>
    	</ul>
    </ul>
  </div>
</div>

</main>
<hr />
