<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Une famille biennoise ', sub_title: "La famille Mikayelyan-Safaryan ", link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <p style="margin-bottom: 0in">
      La famille Mikayelyan-Safaryan vit en Suisse depuis huit ans. Le fils aîné, Robert, est né ici et est en première primaire à Bienne. La fille aînée, Charlotta, va au jardin d’enfants, la plus jeune, Inessa, passe ses journées avec ses parents. Les enfants ont grandi ici, parlent allemand et même un peu français, comme d’ordinaire à Bienne. La mère participe au conseil des parents, le père joue aux échecs avec les écoliers. Robert fait du vélo, Charlotta se maquille en princesse, la petite Inessa aime "Masha et Michka" - une famille normale, qui malheureusement n'a pas de permis de séjour.
    </p>
    <p>

    </p>
    <p>
      C'est pour cela que les parents ne sont pas autorisés à travailler, qu’ils ne peuvent pas obtenir de carte de lecteur à la bibliothèque ou louer un luge. Pire encore : la famille doit s'attendre à être expulsée chaque jour vers son «pays d'origine». C'est le Kazakhstan pour le père, mais sa femme ne peut pas y vivre. C'est l'Arménie pour la mère, mais le père ne peut pas y vivre. Les autorités ont donc l'intention d’expulser le père et les deux enfants les plus âgés vers le Kazakhstan et la mère et Inessa vers l’Arménie. Ou le père avec les trois enfants vers le Kazakhstan et la mère seule vers Arménie. Cela détruirait non seulement leur vie de famille biennoise, mais déchirerait également la famille.
    </p>
    <p>

    </p>
    <p>Certaines personnes ont aidé la famille à plaider un "cas de rigueur" auprès des autorités. Malheureusement, leur demande a été rejetée parce que leurs "conditions de vie [...], mesurées par la situation moyenne d'autres étrangers" n'étaient pas "remises en cause de manière significative" par l'expulsion et la séparation des conjoints et des enfants. Ces "autres étrangers" doivent vraiment être dans une situation terrible !
    </p>
    <p>

    </p>
    <p>Peu avant Noël, les enseignantes de Robert ont contacté les autorités et ont constaté qu'il leur était difficile d'enseigner à une classe qui pouvait s'attendre à tout moment à ce que des policiers en uniforme viennent ramasser un enfant, l’emmènent dans un avion et l’expédient dans un pays étranger, d'où il ne pourra jamais revenir. Comment devraient-elles expliquer cela aux autres enfants, comment peuvent-elles encourager les amitiés, les relations et les après-midis de jeux quand l'un de leurs enfants se trouve ainsi en danger ? Les autorités ont répondu que, malheureusement, rien ne peut être fait.
    </p>
    <p>

    </p>
    <p>
Nous pensons au contraire que quelque chose peut être fait. La famille devrait rester ici dans son appartement à Bienne, les enfants devraient aller à l'école et les parents devraient être autorisés à travailler. La famille Mikalyelyan-Safaryan est ici chez elle, leurs enfants sont nés et ont grandi ici. Nous voulons que la famille puisse enfin vivre une vie digne ici à Bienne. </p>

    <p>Si vous partagez cet avis </p>
    <ul>
    	<ul>
    		<li/>
    <p lang="en">
      <%= link_to "signez la lettre ouverte ", open_letter_path %>
    </p>
    		<li/>
    <p><%= link_to "exprimez votre solidarité sur le tableau d'affichage", open_letter_path %>
      </p>
    		<li/>
    <p>écrivez votre propre lettre au Conseil municipal de Bienne </p>
    		<li/>
    <p lang="en">
      <%= link_to "faites un don pour la famille ", donate_path %>
      </p>
    	</ul>
    </ul>
  </div>
</div>

</main>
<hr />
