<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Les droits de l’enfant ', sub_title: "L’intérêt supérieur de l’enfant (son bien) prévaut. Ceci est valable aussi bien au sein de la famille qu’au niveau de l’action de l’Etat.", link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">

<p class="western" style="margin-bottom: 0in">
La Convention des droits de l’enfant se compose de 54 articles qui reposent sur quatre principes fondamentaux : <br/>
<br/>
1. Le droit à l’égalité
Aucun enfant ne doit être discriminé en raison de son sexe, de ses origines ou de sa nationalité, de sa langue, de sa religion, de la couleur de sa peau, d’un handicap ou de ses convictions politiques. <br/>
<br/>
2. Le droit au respect de l’intérêt supérieur de l’enfant
Chaque fois que l’on prend des décisions susceptibles d’avoir des conséquences pour les enfants, l’intérêt supérieur de l’enfant (son bien) prévaut. Ceci est valable aussi bien au sein de la famille qu’au niveau de l’action de l’Etat. <br/>
<br/>
3. Le droit à la vie et au développement
Chaque enfant doit avoir accès aux soins médicaux, pouvoir aller à l’école et être protégé contre les abus et l’exploitation.
<br/>
4. Le droit de faire entendre son avis et de participer
Tous les enfants doivent être pris au sérieux et respectés en tant que personnes. Cela signifie aussi qu’on les informe de manière adaptée à leur âge et qu’on les associe aux décisions. <br/>
<br />
    <p>
      Plus d’informations sur : <%= link_to "https://www.unicef.ch/fr/lunicef/international/convention-relative-aux-droits-de-lenfant", "https://www.unicef.ch/fr/lunicef/international/convention-relative-aux-droits-de-lenfant" %>
    </p>
  </div>
</div>

</main>
<hr />
