<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Kinderrechte', sub_title: "Das Wohl des Kindes hat <strong>Vorrang</strong>. Dies gilt in der Familie genauso wie für <strong>staatliches Handeln</strong>.", link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(4) %>
  </div>
</div>

</main>
<hr />
