<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Les droits de l’enfant ', sub_title: "L’intérêt supérieur de l’enfant (son bien) prévaut. Ceci est valable aussi bien au sein de la famille qu’au niveau de l’action de l’Etat.", link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(4) %>
  </div>
</div>

</main>
<hr />
