<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Kinderrechte</h1>
  <p class="lead text-muted">
    Das Wohl des Kindes hat <strong>Vorrang</strong>. Dies gilt in der Familie genauso wie für <strong>staatliches Handeln</strong>. 
  </p>
  <p class="lead text-muted">
    <%= link_to "Zum offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">

<p class="western" style="margin-bottom: 0in">Die
Kinderrechtskonvention umfasst 54 Artikel, die auf vier
Grundprinzipien beruhen:<br/>
<br/>
1. Das Recht auf
Gleichbehandlung<br/>
Kein Kind darf benachteiligt werden, sei es
wegen seines Geschlechts, seiner Herkunft oder Staatsbürgerschaft,
seiner Sprache, Religion oder Hautfarbe, wegen einer Behinderung oder
wegen seiner politischen Ansichten.<br/>
<br/>
2. Das Recht auf
Wahrung des Kindeswohls<br/>
Wann immer Entscheidungen getroffen
werden, die sich auf Kinder auswirken können, hat das Wohl des
Kindes Vorrang. Dies gilt in der Familie genauso wie für staatliches
Handeln.<br/>
<br/>
3. Das Recht auf Leben und Entwicklung<br/>
Jedes
Kind muss Zugang zu medizinischer Hilfe bekommen, zur Schule gehen
können und vor Missbrauch und Ausbeutung geschützt werden.<br/>
<br/>
4.
Das Recht auf Anhörung und Partizipation<br/>
Alle Kinder sollen als
Personen ernst genommen und respektiert werden. Das heisst auch, dass
man sie ihrem Alter gerecht informiert und sie in Entscheidungen
einbezieht.<br/>
<br />
    <p>
      Weitere Informationen unter: <%= link_to "https://www.unicef.ch/de/ueber-unicef/international/kinderrechtskonvention", "https://www.unicef.ch/de/ueber-unicef/international/kinderrechtskonvention" %>
    </p>
  </div>
</div>

</main>
<hr />
