<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Spenden', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Wie andere abgewiesene Asylbewerber lebt die Familie Mikayelyan-Safaryan von der Nothilfe
      (<%= link_to "https://www.ag-nothilfe.ch/was-ist-nothilfe", "https://www.ag-nothilfe.ch/was-ist-nothilfe" %>), d.h. von 7.50 CHF pro Tag und Person.
      Auch wenn die Wohnung und die Krankenkasse die Stadt bezahlt, sind 37.50 CHF pro Tag für eine fünfköpfige Familie für alles andere ein bisschen wenig - zu wenig auch für einen Anwalt, einen Judokurs für Robert, eine Bibliothekskarte, Geschenke für Kindergeburtstage, Kita für die Kleine, eine Falafel, einen Besuch im Museum, eine Zugreise nach Neuenburg, ein Plüschtier oder einen Frisörbesuch.
      Wenn Sie gerne etwas spenden möchten, können Sie das gerne tun:
      </p>
      <p>
        <strong>IBAN CH71 0900 0000 3161 1779 4, Rudolf Albonico, Pestalozzi-Kasse</strong>
      </p>
      <p>
        Ohne Vermerk wird das Geld für diese und für andere, ähnliche Familien verwendet, mit dem Vermerk "Mikayelyan-Safaryan" kommt es direkt der Familie zugute. Spender können gerne auf Anfrage Einsicht in die Buchhaltung nehmen.
    </p>
  </div>
</div>

</main>
<hr />
