<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'L’exemple de Langenbruck ', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Le cas de "Joseph et Hayet Mazin" à Langenbruck (Bâle-Campagne) montre de manière frappante que même dans le cas de demandeurs d'asile déboutés, l'humanité et le bon sens peuvent l’emporter sur le juridisme borné. 
    </p>
    <p>
      <strong>Basler Zeitung, 18.1.2020 (Michael Nittnaus)</strong><br />
      <%= link_to 'Trotz Bundesurteil: Baselland schafft eine Flüchtlingsfamilie
nicht aus – zumindest vorerst', download_pdf_path("langbruck") %>
  </div>
</div>

</main>
<hr />
