<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Vorbild Langenbruck</h1>
  <p class="lead text-muted">
    <%= link_to "Zum Offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Das auch im Fall abgewiesener Asylbewerber Menschlichkeit und Menschenverstand über Paragraphenreiterei gewinnen kann, zeigt auf eindrückliche Weise der Fall von "Joseph und Hayet Mazin" in Langenbruck (Basel Landschaft):
    </p>
    <p>
      Basler Zeitung, 18.1.2020 (Michael Nittnaus)<br />
      https://www.bzbasel.ch/basel/baselbiet/trotz-bundesurteil-baselland-schafft-eine-fluechtlingsfamilie-nicht-aus-zumindest-vorerst-136241016
      20200118_BZ_Langenbrucker Flüchtlingsfamilie.pdf
    </p>
  </div>
</div>

</main>
<hr />
