<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Vorbild Langenbruck</h1>
  <p class="lead text-muted">
    <%= link_to "Zum offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">
    <p>
      Dass auch im Fall abgewiesener Asylbewerber Menschlichkeit und Menschenverstand über Paragraphenreiterei gewinnen kann, zeigt auf eindrückliche Weise der Fall von "Joseph und Hayet Mazin" in Langenbruck (Basel Landschaft):
    </p>
    <p>
      <strong>Basler Zeitung, 18.1.2020 (Michael Nittnaus)</strong><br />
      <%= link_to 'Trotz Bundesurteil: Baselland schafft eine Flüchtlingsfamilie
nicht aus – zumindest vorerst', download_pdf_path("langbruck") %>
  </div>
</div>

</main>
<hr />
