<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Lettre ouverte ', sub_title: "Pourquoi la famille S. doit rester ici" %>

<div class="bg-light">
  <div class="container text-justify">
    <h3>Chers membres du Conseil municipal </h3>
    <p>
Nous nous engageons pour que la famille Safaryan-Mikayelyan puisse rester à Bienne. Les Safaryan-Mikayelyan sont des nôtres et nous serions consternés si leurs vies étaient détruites. Nous vous prions de remettre aux deux parents les permis nécessaires pour que la famille puisse rester à Bienne, garder son appartement, les parents travailler, et les enfants aller à l'école. Plus précisément, nous vous demandons de soumettre une demande de "cas de rigueur" au SEM via la police des étrangers de Bienne et de la soutenir afin que la famille Safaryan-Mikayelyan ait un permis de séjour et de travail (permis C) d'ici l'été 2020. En vous remerciant pour votre compréhension, nous vous adressons nos meilleures salutations.
  </div>
  <hr />
  <div class="container text-justify">
    <%= render 'signatures/signature_box' %>
  </div>
</div>

</main>
<hr />
