<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Offener Brief</h1>
  <p class="lead text-muted">
    Warum Familie S. hier bleiben soll
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">
    <h3>Liebe Mitglieder des Gesamt-Gemeinderats</h3>
    <p>
      Wir setzen uns dafür ein, dass die Familie Safaryan-Mikayelyan in Biel bleiben darf. Sie gehört zu uns und es würde uns sehr bestürzen, wenn ihr Leben zerstört würde. Bitte erteilen sie den beiden Eltern die nötigen Ausweise, damit die Familie in Biel bleiben, ihre Wohnung behalten, hier arbeiten bzw.  ihre Kinder zur Schule gehen dürfen. Konkret wollen wir Sie auffordern, durch die Fremdenpolizei Biel beim SEM ein Härtefallgesuch einzureichen und dieses so zu unterstützen, dass die Familie Safaryan-Mikayelyan bis im Sommer 2020 im Besitz einer Aufenthalts- und Arbeitsbewilligung (Permis C) sein wird.
      Mit freundlichen Grüssen und bestem Dank für Ihr Verständnis
  </div>
  <hr />
  <div class="container text-justify">
    <%= render 'signatures/signature_box' %>
  </div>
</div>

</main>
<hr />
