<main role="main" class="bg-light">
  <%= render "layouts/lead", title: 'Revue de press', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(2) %>
  </div>
</div>

</main>
<hr />
