<main role="main" class="bg-light">

<section class="jumbotron text-center">
<div class="container">
  <h1>Presseschau</h1>
  <p class="lead text-muted">
    <%= link_to "Zum Offenen Brief und zur Petition", open_letter_path %>
  </p>
</div>
</section>

<div class="bg-light">
  <div class="container text-justify">

    <p class="western" style="margin-bottom: 0in">Beispiel eines
    Unterstützungsbriefs: Rolf Hermann an den Gemeinderat, 19.1.2020:</p>
    <p class="western" style="margin-bottom: 0in"><span>      <%= link_to 'Trotz Bundesurteil: Baselland schafft eine Flüchtlingsfamilie
    nicht aus – zumindest vorerst', download_pdf_path("langbruck") %></span></p>
    <p lang="en" class="western" style="margin-bottom: 0in"><span lang="de-CH"><br/>
    </p>
    <p>
    Bieler
    Tagblatt, 8.1. (Carmen
    Stalder):<br/>
    <%= link_to 'Abgelehnt – und auseinandergerissen? Eine Familie bangt um ihre Zukunft', download_pdf_path("familie-bt") %>
    <br/>
      </p>
    <p>
    Journal du Jura:<br/>
    <%= link_to "Une famille menacée d'éclater", download_pdf_path("menace") %></p>
    <br/>
    RJB:
    https://www.rjb.ch/rjb/Actualite/Region/20200116-Bienne-garde-une-marge-de-manoeuvre-dans-sa-politique-fonciere.html<br/>
  <span lang="de-CH"><span style="background: #ff6666">(pdf
    fehlt noch)</span></span></p>
    <p lang="fr-CH" class="western" style="margin-bottom: 0in"><br/>

    </p>
    <p lang="en" class="western" style="margin-bottom: 0in"><span lang="de-CH">Bieler
    Tagblatt, 15.1. (Lino
    Schaeren):<br/>
    https://www.bielertagblatt.ch/nachrichten/biel/politiker-solidarisieren-sich-mit-familie-safaryanmikayelyan<br/>
    </span><span lang="de-CH"><span style="background: #ff6666">(pdf
    fehlt noch)</span></span><span lang="de-CH"><br/>
    <br/>
    Journal du
    Jura:<br/>
    https://www.journaldujura.ch/nouvelles-en-ligne/region/des-elus-solidaires-des-safaryanmikayelyan<br/>
    </span><span lang="de-CH"><span style="background: #ff6666">(pdf
    fehlt noch)</span></span></p>
    <p class="western" style="margin-bottom: 0in"><br/>

    </p>
  </div>
</div>

</main>
<hr />
