<main role="main" class="bg-light">

<%= render "layouts/lead", title: 'Familie S. gehört zu uns
  und bleibt hier!', sub_title: '    Sie sind auf der brandneuen Website
      der Arbeitsgruppe "Sie bleiben hier!"', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <p>
    Familie S-M lebt seit über 8 Jahren in der Schweiz: Mutter, Vater, drei
    Kinder (7, 6, 3). Alle Kinder sind in Biel/Bienne geboren. Die
    Familie S. ist weit überdurchschnittlich gut integriert in Quartier
    und Schule. Die Kinder werden von ihren KameradInnen und Nachbarn
    geschätzt. Die Sprachkenntnisse der Eltern sind sicher auf Niveau
    B1. Die Lehrkräfte der beiden älteren Kinder setzen sich für die
    Kinder und die ganze Familie ein. Die Familie erhält
    Arbeits-Angebote und könnte sich bald selber erhalten – wenn sie
    arbeiten dürften. Das älteste Kind leidet an einer heiklen
    Krankheit, welche in den Herkunftsländern der Eltern schlecht oder
    gar nicht behandelt werden kann, und welche ein sehr anfälliges
    Immunsystem zur Folge hat. Der Vater wäre in seinem Herkunftsland
    aus politischen Gründen gefährdet.</p>
    <p>
    <i>Und
    was meinen Migration Biel und SEM (Staatssekretariat für Migration)
    zu diesem "Fall"? </i>
    </p>
    <p>
    <b>Sie
    wollen diese Familie ausweisen. In die zwei verschiedenen
    Herkunftsländer der Eltern. Zwei oder alle drei Kinder mit dem Vater
    in sein Herkunftsland, die Mutter – eventuell mit dem Jüngsten –
    in ihr Herkunftsland. Die Familie soll also auseinandergerissen
    werden. Die Kinder weg von ihren vertrauten Kamerädli, ihrem
    Quartier, ihrer Schule. Das im Jahr des Jubiläums der Kinderrechte! </b>
    </p>
    <p>
    <i>Wie
    damals mit den Verdingkindern, den Kindern der Landstrasse, den
    &quot;Administrativ Verwahrten&quot;…</i></p>
    <p>
    Wiedererwägungsgesuch
    und ein Härtefallgesuch wurden von Migration Biel abgelehnt. Das
    Härtefallgesuch anderthalb Jahre nach dessen Eingang. Ohne die
    erforderliche &quot;vertiefte Auseinandersetzung&quot; mit dem
    &quot;Fall&quot;. In zwei sehr unsorgfältig verfassten Briefen:
    Falsches Datum, falsche Rechtsmittelbelehrung, wiederholtes Verlangen
    von Sprachnachweisen, die schon längst eingereicht waren, diverse
    Rechtschreibefehler usw.. Die Anwältin der Familie sah sich deshalb
    sogar veranlasst, eine Rüge nach Biel zu senden!</p>
    <p>
    Die
    Lehrerinnen der älteren beiden Kinder haben dann einen Brief
    geschrieben an Bundesrätin Karin Keller-Sutter. Den gab sie Mario
    Gattiker, Chef SEM, zum Beantworten. Der schrieb das, was er immer
    schreibt. Darauf wandten sich die Lehrerinnen an die Verantwortlichen
    in Biel/Bienne – Stadtpäsident Fehr, Sozialminister Feurer,
    Schulminister Némitz, Schulabteilungsleiter Meyer – mit der Bitte
    um ein sehr baldiges Gespräch noch vor den Weihnachtsferien:</p>
    <p>
    &quot;Die
    Kinderrechte gehören zu unserem Unterrichtsstoff (Lehrplan 21). Aus
    unserer Sicht wird mit der drohenden Ausschaffung gegen die
    Kinderrechtskonvention verstossen. Dies bringt uns in einen grossen
    Konflikt, den wir so nicht stehen lassen können.
    </p>
    <p>
    Welche
    Auswirkung der Entscheid der Abschiebung auf die Schule und diese
    Familie hat, muss diskutiert werden. Wir bitten Sie darum, sich
    unsere Fachmeinung anzuhören und mit uns in den Dialog zu treten.
    </p>
    <p>
    Aufgrund
    der grossen Dringlichkeit bitten wir Sie, uns noch vor Weihnachten zu
    einem Gespräch einzuladen.&quot;</p>
    <p>Das
    ist der Stand der Dinge am …. Dezember 2019. Eine Antwort steht
    noch aus.</p>
    <br />
    <hr />
    <p>Wir
    werden die <b>entsprechenden
    Dokumente</b>
    aufschalten. Ebenso die <b>Antworten
    der Behörden</b>.

    </p>
    <p>Und
    eine <b>Petition</b>
    starten.</p>
    <p><i>Wir
    sind die Bürgerbewegung &quot;Sie bleiben hier!&quot; </i><i><u>Kontaktadresse
    / Kontaktformular</u></i></p>
    <p>Wir
    brauchen viel Unterstützung:
    </p>
    <ul>
    	<li/>
    <p>Besuchen
    	Sie die Website bald wieder.
    	</p>
    	<li/>
    <p>Sprechen
    	Sie mit Bekannten.</p>
    	<li/>
    <p>Senden
    	Sie uns Adressen, zum Beispiel von andern engagierten Eltern.</p>
    	<li/>
    <p>Unterschreiben
    	Sie die Petition (sobald sie aufgeschaltet ist).
    	</p>
    	<li/>
    <p>Helfen
    	Sie uns mit Ihren spezifischen Fähigkeiten.</p>
    	<li/>
    <p>Nutzen
    	Sie Ihre Kontakte zu den Bieler und Berner Verantwortlichen.
    	</p>
    	<li/>
    <p>Vielleicht
    	brauchen wir später auch Geld, z.B. für Anwaltskosten.</p>
    </ul>
    <hr />
    <p><i>Was
    wären wir für Mütter und Väter, Nachbarn, LehrerInnen,
    BürgerInnen<br/>
    wenn wir uns nicht für diese Familie einsetzen
    würden?</i></p>
    <p>
    Die
    <b>Kinderrechtskonvention</b> umfasst 54 Artikel, die auf vier
    Grundprinzipien beruhen:</p>
    <p>
    <b>1.
    Das Recht auf Gleichbehandlung</b><br/>
    Kein Kind darf benachteiligt
    werden, sei es wegen seines Geschlechts, seiner Herkunft oder
    Staatsbürgerschaft, seiner Sprache, Religion oder Hautfarbe, wegen
    einer Behinderung oder wegen seiner politischen Ansichten.</p>
    <p>
    <b>2.
    Das Recht auf Wahrung des Kindeswohls</b><br/>
    Wann immer
    Entscheidungen getroffen werden, die sich auf Kinder auswirken
    können, hat das Wohl des Kindes Vorrang. Dies gilt in der Familie
    genauso wie für staatliches Handeln.</p>
    <p>
    <b>3.
    Das Recht auf Leben und Entwicklung</b><br/>
    Jedes Kind muss Zugang
    zu medizinischer Hilfe bekommen, zur Schule gehen können und vor
    Missbrauch und Ausbeutung geschützt werden.</p>
    <p>
    <b>4.
    Das Recht auf Anhörung und Partizipation</b><br/>
    Alle Kinder sollen
    als Personen ernst genommen und respektiert werden. Das heisst auch,
    dass man sie ihrem Alter gerecht informiert und sie in Entscheidungen
    einbezieht.</p>
    <p><u><a href="https://www.unicef.ch/de/ueber-unicef/international/kinderrechtskonvention?msclkid=22126ae4bf1a15ab966e37123025b0ba&amp;utm_source=bing&amp;utm_medium=cpc&amp;utm_campaign=DE_GSN_Schwerpunkte_Kinder&amp;utm_term=kinderrechtskonvention&amp;utm_content=DE_Kinderrechtskonvention">https://www.unicef.ch/de/ueber-unicef/international/kinderrechtskonvention?msclkid=22126ae4bf1a15ab966e37123025b0ba&amp;utm_source=bing&amp;utm_medium=cpc&amp;utm_campaign=DE_GSN_Schwerpunkte_Kinder&amp;utm_term=kinderrechtskonvention&amp;utm_content=DE_Kinderrechtskonvention</a></u>

    </p>
  </div>
</div>

</main>
<hr />
