<div class="row">
  <% Signature.with_comment.reverse.each do |signature| %>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <%= render 'signatures/show', signature: signature %>
    </div>
  <% end %>
</div>
