<table class="table table-striped signatures_short_list">
  <thead>
    <tr>
      <th scope="col"><%= Signature.model_name.human(count: 2) %></th>
    </tr>
  </thead>
  <tbody>
    <% Signature.last(10).reverse.each do |signature| %>
    <tr>
      <td>
        <%= "#{signature.firstname}  #{signature.lastname}" %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        <%= link_to t('show_all_signatures', number: Signature.all.count), signatures_path %>
      </td>
    </tr>
  </tbody>
</table>
