<div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <%= render 'signatures/signatures_short_list' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">Petition unterschreiben</h5>
          <%= render 'signatures/form_for_visitor', signature: Signature.new %>
        </div>
      </div>
    </div>
</div>
