var record_id = "#new_signature";
var errors = <%= raw @signature.errors.full_messages %>;
var signatures_short_list_class = ".signatures_short_list";
var message = "<%= I18n.t(:thank_you) %>";
console.log(message);

if (jQuery.isEmptyObject(errors)) {
  console.log("keine Fehler");

  content = `
  <p><strong>${message}</strong></p>
  `;


  $(record_id).replaceWith(function(){
    return $(content).hide().fadeIn("slow");
  });

  content = $("<%= escape_javascript( render "signatures/signatures_short_list" ) %>");

  $(signatures_short_list_class).replaceWith(function(){
   return $(content).hide().fadeIn("slow");
  });

  $(signatures_short_list_class).parent().animate({
         backgroundColor: "#90EE90",
       }, 300 ).animate({
              backgroundColor: "white",
            }, 300 );


} else {
  console.log("Fehler vorhanden");

    content = $("<%= escape_javascript( render "signatures/form_for_visitor", signature: @signature ) %>");

    $(record_id).replaceWith(function(){
      return $(content).hide().fadeIn("slow");
    });

}
