<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= Signature.all.count %> Unterschriften</th>
      </tr>
    </thead>
    <tbody>
      <% Signature.all.reverse.each do |signature| %>
      <tr>
        <td>
          <%= "#{signature.firstname}  #{signature.lastname}" %>
          <% if user_signed_in? %>
            <%= link_to 'Bearbeiten', edit_signature_path(signature) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
