<main role="main" class="bg-light">
<%= render "layouts/lead", title: 'Vorbild Langenbruck', link_to_petition: "true" %>

<div class="bg-light">
  <div class="container text-justify">
    <%= render 'pages/show', page: Page.find(3) %>
  </div>
</div>

</main>
<hr />
